
.Map {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  padding: 0px;
}

.UI {
  position: absolute;
  top: 10px;
  left: 100px;
  border: 10px;
}

.PanelText {
  text-align: right;
}

.PanelButton {
  width: 130px;
}